<div class="site-main-content">
    <div class="content-body-outer">

        <div class="odds-outer">

            <div id="MatchOddInfo"  class="card ng-star-inserted">
                <div class="card-body"  >
                    <div class="header">
                       <div class="teams">
                          <h5>1 day Teenpatti</h5>
                       </div>
                       <div class="event-time">
                          <div class="date-time"> Sep 14, 2020, 12:13:21 PM </div>
                          <div class="event-status"><span class="in-play">
                             <i class="fa fa-circle" aria-hidden="true"></i>
                             In-Play
                             </span>
                          </div>
                       </div>
                    </div>
                    <div td width class="teenpatti-wrapper teenpatti-twenty bets-wrap ng-star-inserted" *ngIf="teentype==2">
                       <div td width class="video-image">
                          <div td width class="videoCards">
                             <div td width>
                                <h6 td width>PLAYER A</h6>
                                <div td width><img td width
                                   src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/6SS.png"><img td width
                                   src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png"><img td width
                                   src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                                </div>
                             </div>
                             <div td width>
                                <h6 td width>PLAYER B</h6>
                                <div td width><img td width
                                   src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/ASS.png"><img td width
                                   src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png"><img td width
                                   src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/1.png">
                                </div>
                             </div>
                          </div>
                          <iframe td width data-name="Oneday teenpatti" width="100%" height="350"
                             src="http://shivexch.com/tp_tv_159/oneday/" style="border: 0px;"></iframe>
                          <div td width class="clock clock2digit flip-clock-wrapper">
                             <ul class="flip play">
                                <li class="flip-clock-before">
                                   <a href="#">
                                      <div class="up">
                                         <div class="shadow"></div>
                                         <div class="inn">4</div>
                                      </div>
                                      <div class="down">
                                         <div class="shadow"></div>
                                         <div class="inn">4</div>
                                      </div>
                                   </a>
                                </li>
                                <li class="flip-clock-active">
                                   <a href="#">
                                      <div class="up">
                                         <div class="shadow"></div>
                                         <div class="inn">3</div>
                                      </div>
                                      x
                                      <div class="down">
                                         <div class="shadow"></div>
                                         <div class="inn">3</div>
                                      </div>
                                   </a>
                                </li>
                             </ul>
                             <ul class="flip play">
                                <li class="flip-clock-before">
                                   <a href="#">
                                      <div class="up">
                                         <div class="shadow"></div>
                                         <div class="inn">5</div>
                                      </div>
                                      <div class="down">
                                         <div class="shadow"></div>
                                         <div class="inn">5</div>
                                      </div>
                                   </a>
                                </li>
                                <li class="flip-clock-active">
                                   <a href="#">
                                      <div class="up">
                                         <div class="shadow"></div>
                                         <div class="inn">3</div>
                                      </div>
                                      <div class="down">
                                         <div class="shadow"></div>
                                         <div class="inn">3</div>
                                      </div>
                                   </a>
                                </li>
                             </ul>
                          </div>
                       </div>
                       <div td width class="rules-title"><a td width class="theme1font"><span td width role="button"
                          class="teenpatti-rulesList"><u td width>Rules</u></span></a><span td width
                          class="float-right round theme1font">
                          Min : <span td width class="ng-binding">
                             {{tpMarket[0].min}}
                          &nbsp;|</span>
                           Max : <span td width class="ng-binding">
                               {{tpMarket[0].max}} &nbsp;|
                            </span>
                          Round ID: <span td width>
                             {{tpMarket[0].marketId}}
                            </span></span>
                       </div>
                       <div td width class="odds-container">
                          <table td width>
                             <thead td width>
                                <tr td width class="header">
                                   <th td width></th>
                                   <th td width>
                                      <div td width class="back-buttons"><span td width>Back</span></div>
                                   </th>
                                   <th td width>
                                      <div td width class="lay-buttons"><span td width>Lay</span></div>
                                   </th>
                                </tr>
                             </thead>
                             <tbody>

                               <tr *ngFor="let runner of tpMarket; index as index">
                                   <td class="runnerName" width="99%">
                                       <div class="runner-label">
                                           {{runner.nation}}
                                       </div>
                                       <span id="Tp_{{runner.marketId}}_{{runner.nation}}">0</span>
                                   </td>
                                   <td>
                                       <div class="back-buttons"  [ngClass]="{'suspended1':runner.gstatus!='ACTIVE'}">
                                           <!-- <button fxshow fxHide.lt-md class="back back-3">
                                               <div class="rate">

                                               </div>
                                               <div class="price">

                                               </div>
                                           </button> -->
                                           <!-- <button fxshow fxHide.lt-md class="back back-2">
                                               <div class="rate">

                                               </div>
                                               <div class="price">

                                               </div>
                                           </button> -->
                                           <button class="back back-1"
                                           (click)="runner.b1=='0'?'':openTpBetSlip($event,'Back',runner.b1,runner.nation,runner.sectionId,runner.marketId,subscriptionId,null,null)"  >
                                               <div class="rate">
                                                   {{runner.b1}}
                                               </div>
                                               <div class="price">
                                                   {{runner.bs1}}
                                               </div>
                                           </button>
                                       </div>
                                   </td>
                                   <td>
                                       <div class="lay-buttons"  [ngClass]="{'suspended1':runner.gstatus!='ACTIVE'}">
                                           <button class="lay lay-1"
                                           (click)="runner.l1=='0'?'':openTpBetSlip($event,'Lay',runner.l1,runner.nation,runner.sectionId,runner.marketId,subscriptionId,null,null)" >
                                               <div class="rate">
                                                   {{runner.l1}}
                                               </div>
                                               <div class="price">
                                                   {{runner.ls1}}
                                               </div>
                                           </button>
                                           <!-- <button fxshow fxHide.lt-md class="lay lay-2">
                                               <div class="rate">

                                               </div>
                                               <div class="price">

                                               </div>
                                           </button>
                                           <button fxshow fxHide.lt-md class="lay lay-3">
                                               <div class="rate">

                                               </div>
                                               <div class="price">

                                               </div>
                                           </button> -->
                                       </div>
                                   </td>
                               </tr>

                           </tbody>
                          </table>

                       </div>
                     </div>
                    <div td width class="fancy-marker-title m-t-10 ng-star-inserted">
                       <h4 td width> Last Result <a td width target="_blank" class="result-view-all"
                          routerLink="/reports/game-reports">View All</a></h4>
                    </div>
                    <div td width class="teenpatti-result-container ng-star-inserted">
                       <div td width class="label-result"><span td width></span></div>
                       <div td width class="results">
                         <p id="last-result">
                            <span *ngFor="let result of results" class="ball-runs last-result"
                                [ngClass]="{'playera':result.result=='A','playerb':result.result!='A'}">{{result.result}}</span>
                        </p>
                       </div>
                    </div>

                 </div>
            </div>


        </div>

    </div>
</div>
