
<div class="odds-outer">

    <div id="MatchOddInfo" class="card ng-star-inserted">
        <div class="card-body"  *ngIf="teentype==6">
            <div class="header">
                <div class="teams">
                    <h5>3 card judgement</h5>
                </div>
                <div class="event-time">
                    <div class="date-time"> Sep 14, 2020, 12:13:21 PM </div>
                    <div class="event-status"><span class="in-play">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            In-Play
                        </span></div>
                </div>
            </div>
            <div td width class="teenpatti-wrapper teenpatti-twenty bets-wrap ng-star-inserted" >
                <div td width class="video-image">
                    <div td width class="videoCards">
                        <div td width>

                            <div td width *ngIf="tpData">
                                <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/{{tpData.C1}}.png">
                                <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/{{tpData.C2}}.png">
                                <img src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/{{tpData.C3}}.png">
                            </div>
                        </div>

                    </div><iframe td width data-name="Oneday teenpatti" width="100%" height="350"
                        src="http://shivexch.com/tp_tv_159/oneday/" style="border: 0px;"></iframe>
                    <div td width class="clock clock2digit flip-clock-wrapper">
                        <ul class="flip play">
                            <li class="flip-clock-before"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">4</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">4</div>
                                    </div>
                                </a></li>
                            <li class="flip-clock-active"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">3</div>
                                    </div>x
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">3</div>
                                    </div>
                                </a></li>
                        </ul>
                        <ul class="flip play">
                            <li class="flip-clock-before"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">5</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">5</div>
                                    </div>
                                </a></li>
                            <li class="flip-clock-active"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">3</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">3</div>
                                    </div>
                                </a></li>
                        </ul>
                    </div>
                </div>
                <div td width class="rules-title"><a td width class="theme1font"><span td width role="button"
                            class="teenpatti-rulesList"><u td width>Rules</u></span></a><span td width
                        class="float-right round theme1font">
                        Round ID: <span td width> {{tpData.mid}} </span></span></div>

            <div class="list-body distinct tpjudgement">
                <div id="{{tpData.mid}}">
                    <div class="andar-bx back">
                        <div class="ab-title"><b>Yes - {{tpMarket[0].rate}}</b><span class="float-right"><b id="Tp_{{tpMarket[0].mid}}_{{tpMarket[0].nat}}"
                                    class="win">0</b></span></div>
                        <div class="text-center ab-content"  [ngClass]="{'suspended':tpMarket[1].gstatus==0}">
                            <div id="andar_div" class="owl-carousel owl-theme ab-slider">
                                <div class="d-inline-block mr-1" *ngFor="let ab of andar_bahar;">
                                  <span (click)="tpMarket[0].gstatus=='0'?'':openTpBetSlip('back',tpMarket[0].rate,tpMarket[0].nat,tpMarket[0].sid,tpData.mid,gameType,ab)">
                                  <img

                                        src="assets/images/andar_bahar/{{ab}}.jpg"
                                        [ngClass]="{'selected':selected3cardj(ab,'back')}">
                                      </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="remark text-right mt-1 pr-2">
                        <marquee scrollamount="3">
                            <p class="mb-0">Select any 3 card and you will win if you will get at least 1 card from the
                                3 cards you have selected. </p>
                        </marquee>
                    </div>
                    <div class="bahar-bx lay">
                        <div class="ab-title"><b>No - {{tpMarket[1].rate}}</b>
                            <span class="float-right">
                                <b id="Tp_{{tpMarket[1].mid}}_{{tpMarket[1].nat }}">0</b>
                            </span>
                        </div>
                        <div class="text-center ab-content" [ngClass]="{'suspended':tpMarket[1].gstatus==0}">
                            <div id="bahar_div" class="owl-carousel owl-theme ab-slider">
                                <div class="d-inline-block mr-1" *ngFor="let ab of andar_bahar;">
                                  <span (click)="tpMarket[1].gstatus=='0'?'':openTpBetSlip('lay',tpMarket[1].rate,tpMarket[1].nat,tpMarket[1].sid,tpData.mid,gameType,ab)">
                                    <img

                                        src="assets/images/andar_bahar/{{ab}}.jpg"
                                        [ngClass]="{'selected':selected3cardj(ab,'lay')}">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="remark text-right mt-1 pr-2">
                        <marquee scrollamount="3">
                            <p class="mb-0">Select any 3 card and you will win If you do not get any card from the 3
                                cards you have selected. </p>
                        </marquee>
                    </div>
                </div>
            </div>

            <div td width class="fancy-marker-title m-t-10 ng-star-inserted">
                <h4 td width> Last Result <a td width target="_blank" class="result-view-all"
                        routerLink="/reports/game-reports">View All</a></h4>
            </div>

            <div td width class="teenpatti-result-container ng-star-inserted">
                <div td width class="label-result"><span td width></span></div>
                <div td width class="results">
                    <p id="last-result" class="last-result-p">
                        <span *ngFor="let result of results" class="ball-runs-T6 last-result playerb">{{result.result}}</span>
                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div id="mybet" class="betnav">
      <a href="" class="closebet" (click)="closebet()">×</a>
      <div class="matchBox">
        <div class="betSlipBox">
          <div class="betBox border-box" id="betBox" *ngIf="openBet">
            <div class="block_box">
              <div class="betslip">
                <div class="loader" style="display:none">
                  <div class="mini-loader">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                </div>
                <form [formGroup]="OpenBetForm" id="placeBetSilp" (ngSubmit)="BetSubmit()" style="background-color:rgb(167, 216, 253)">
                  <div class="fancy-temaname" id="ShowRunnderName">{{f.runnerName.value}}</div>
                  <span class="close-betslip" (click)="closebetslip()"><svg version="1.1" id="Capa_1"
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                      <g>
                        <g>
                          <path d="M436.812,75.188C388.327,26.702,324.113,0,256,0S123.673,26.702,75.188,75.188C26.702,123.673,0,187.887,0,256
                                                    s26.702,132.327,75.188,180.812C123.673,485.298,187.887,512,256,512s132.327-26.702,180.812-75.188
                                                    C485.298,388.327,512,324.113,512,256S485.298,123.673,436.812,75.188z M256,482C131.383,482,30,380.617,30,256S131.383,30,256,30
                                                    s226,101.383,226,226S380.617,482,256,482z"></path>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path d="M404.493,171.147l-63.64-63.639L256,192.36l-84.853-84.853l-63.64,63.64L192.36,256l-84.853,84.853l63.64,63.64
                                                    L256,319.64l84.853,84.853l63.64-63.64L319.64,256L404.493,171.147z M362.066,340.853l-21.213,21.213L256,277.213l-84.853,84.853
                                                    l-21.213-21.213L234.787,256l-84.853-84.853l21.213-21.213L256,234.787l84.853-84.853l21.213,21.213L277.213,256L362.066,340.853z
                                                    "></path>
                        </g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                      <g>
                      </g>
                    </svg></span>

                  <div class="odds-stake-fild">
                    <div class="item-slip input-odds">
                      <input type="number" id="ShowBetPrice" formControlName="odds"
                      (keyup)="update()" class="calProfitLoss odds-input form-control CommanBtn">
                      <div class="inc plus_btn">+</div>
                      <div class="dec plus_btn">-</div>
                    </div>
                    <div class="item-slip input-stake">
                      <input type="number" pattern="[0-9]*" step="1" id="stakeValue"
                                    formControlName="stake" (keyup)="update()"
                                    class="calProfitLoss stake-input form-control  CommanBtn">
                      <div class="inc plus_btn" (click)="incStake()">+</div>
                      <div class="dec plus_btn" (click)="decStake()">-</div>
                    </div>
                  </div>
                  <div class="betslip-footer">
                    <div class="odds-btn-value">
                      <div class="fancy-btngroup">
                        <ng-container *ngFor="let stake of stakeSetting;let index=index;">
                          <button class="btn btn-default  chipName1" type="button"
                            (click)="addStake(stake);">{{stakeSetting[index]}}</button>

                        </ng-container>
                      </div>
                    </div>
                    <div class="odds-btn-clear">
                      <button class="btn btn-default" type="button" (click)="clearStake( );"><i
                          class="fas fa-backspace"></i></button>
                    </div>
                  </div>
                  <div class="place-bet-div">
                    <button class="btn btn-Cancel" type="button" (click)="ClearAllSelection()">Cancel</button>
                    <button class="btn btn-placebet placebet" type="submit">Place Bet</button>

                  </div>
                  <div class="proft-loss-slip">
                    <span>Profit or Liability</span>
                    <span id="profitData" class="green">{{f.profit.value | number:'1.2-2'}}</span>
                    <span id="LossData" class="red">{{f.loss.value | number:'1.2-2'}}</span>
                  </div>
                </form>

              </div>
            </div>
          </div>
          <div class="odds-tabs tab_bets">
            <ul class="nav nav-tabs match-bets">
              <li class="nav-item betdata active-all active">
                <a class="allbet" href="javascript:void(0);" (click)="getDataByType('4')">All Bets
                  <span id="cnt_row">({{totalBets}})</span> </a>
              </li>
              <!-- <li class="nav-item betdata active-unmatch" style="display: none;">
                              <a class="unmatchbet" href="javascript:void(0);" onclick="getDataByType(this,'2');"> UnMatch
                                  Bet <span id="cnt_row1">(0)</span> </a>
                          </li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="" id="MatchUnMatchBetaData">
        <style>
          .searchbtnn {
            margin-right: 20px;
          }
        </style>


        <span id="msg_error"></span>
        <div class="scroll-table match_bets MachShowHide">
          <table class="table">
            <thead class="head">
              <tr class="headings">
                <td>No.</td>
                <td>Runner</td>
                <td>Odds</td>
                <td>Stake</td>
                <td>Bet Type</td>
                <td>P&L</td>
                <td>Time</td>
                <td>ID</td>
                <td> IP</td>
              </tr>
            </thead>
            <tbody>
              <tr [ngClass]="{'back':bet.backLay=='BACK' || bet.backLay=='Back' ||bet.backLay=='YES','lay':bet.backLay=='LAY' || bet.backLay=='Lay' || bet.backLay=='NO'}"
                *ngFor="let bet of eventBets;let index=index;trackBy:trackByBet">
                <td>{{index+1}}</td>
                <td>{{bet.runnerName}}</td>
                <td>{{bet.odds}}</td>
                <td>{{bet.stake | number:'1.2-2'}}</td>
                <td>{{bet.backLay}}</td>
                <td>{{bet.profit | number:'1.2-2'}}</td>
                <td>{{bet.date}}</td>
                <td>{{bet.id}}</td>
                <td>{{bet.ipAddress}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

</div>

