
.back{
	background-color: #daefff;
    border-top: 1px solid #76a6c8;
    color: #26252b;
    font-weight: 500;

}

.lay{
	background-color: #ffe3e3;
    border-top: 1px solid #d39faa;
    color: #26252b;
    font-weight: 500;

}

.head{
    background-color: #00ebb3;
    color: #26252b;
    font-weight: 500;

}