<div class="odds-outer">

    <div id="MatchOddInfo"  class="card ng-star-inserted">
        <div class="card-body">
            <div class="header">
            <div class="teams">
                <h5>20 20 Teenpatti</h5>
            </div>
            <div class="event-time">
                <div class="date-time"> Sep 14, 2020, 12:13:21 PM </div>
                <div class="event-status"><span class="in-play">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                        In-Play
                    </span></div>
            </div>
        </div>
            <div class="teenpatti-wrapper teenpatti-twenty bets-wrap ng-star-inserted" *ngIf="teentype==1">
                <div class="video-image">
                    <div class="videoCards">
                        <div>
                            <h6>PLAYER A</h6>
                            <div><img
                                    src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/{{tpData.C1}}.png"><img
                                    src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/{{tpData.C2}}.png"><img
                                    src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/{{tpData.C3}}.png">
                            </div>
                        </div>
                        <div>
                            <h6>PLAYER B</h6>
                            <div><img
                                    src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/{{tpData.C4}}.png"><img
                                    src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/{{tpData.C5}}.png"><img
                                    src="https://dzm0kbaskt4pv.cloudfront.net/img/cards/{{tpData.C6}}.png">
                            </div>
                        </div>
                    </div><iframe data-name="Oneday teenpatti" width="100%" height="350"
                        src="http://shivexch.com/tp_tv_159/oneday/" style="border: 0px;"></iframe>
                    <div class="clock clock2digit flip-clock-wrapper">
                        <ul class="flip play">
                            <li class="flip-clock-before"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">4</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">4</div>
                                    </div>
                                </a></li>
                            <li class="flip-clock-active"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">3</div>
                                    </div>x
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">3</div>
                                    </div>
                                </a></li>
                        </ul>
                        <ul class="flip play">
                            <li class="flip-clock-before"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">5</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">5</div>
                                    </div>
                                </a></li>
                            <li class="flip-clock-active"><a href="#">
                                    <div class="up">
                                        <div class="shadow"></div>
                                        <div class="inn">3</div>
                                    </div>
                                    <div class="down">
                                        <div class="shadow"></div>
                                        <div class="inn">3</div>
                                    </div>
                                </a></li>
                        </ul>
                    </div>
                </div>
                <div class="rules-title"><a class="theme1font"><span role="button"
                            class="teenpatti-rulesList"><u>Rules</u></span></a>
                            <span  class="float-right round theme1font">
                                 Min : <span class="ng-binding"> {{tpData.min}}
                            &nbsp;|</span> Max : <span class="ng-binding"> {{tpData.max}}&nbsp;|</span>
                        Round ID: 
                        <span> {{tpData.mid}}   {{tpData.roundId}}</span></span>
                    </div>
                <div class="odds-container">
                    <table>
                        <thead>
                            <tr class="header">
                                <th></th>
                                <th>
                                    <div class="back-buttons"><span>Back</span></div>
                                </th>
                                <th>
                                    <div class="lay-buttons"><span>Lay</span></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let runner of tpMarket;trackBy:trackByIndex; index as index">
                            <tr *ngIf="index==0|| index==2" class="ng-star-inserted">
                                <td width="99%" class="runnerName">
                                    <div class="runner-label"> {{runner.nation}}</div>
                                    <span id="Tp_{{tpData.mid}}_{{runner.nation}}">0</span>
                                </td>
                                <td>
                                    <div class="back-buttons suspended1" [ngClass]="{'suspended1':runner.gstatus=='0'}">

                                        <button class="back back-1"
                                        (click)="runner.rate=='0'?'':openTpBetSlip('back',runner.rate,runner.nation,runner.sectionId,runner.marketId,gameType)">
                                            <div class="rate">  {{runner.rate}} </div>
                                            <div class="price"> </div>
                                        </button></div>
                                </td>
                                <td>
                                    <div class="lay-buttons suspended1" [ngClass]="{'suspended1':tpMarket[index+1].gstatus=='0'}">
                                        <button class="lay lay-1">
                                            <div class="rate">{{tpMarket[index+1].nation}}</div>
                                            <div class="price"></div>
                                        </button>

                                    </div>
                                </td>
                            </tr>
                           
                        </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="fancy-marker-title m-t-10 ng-star-inserted">
                <h4> Last Result <a target="_blank" class="result-view-all" ng-reflect-target="_blank"
                        routerLink="/reports/casino">View All</a></h4>
            </div>

            <div class="teenpatti-result-container ng-star-inserted">
                <div class="label-result"><span></span></div>
                <div class="results">
                    <p id="last-result">
                        <span *ngFor="let result of results"
                            class="ball-runs last-result playera ng-star-inserted" [ngClass]="{'playera':result.result=='A','playerb':result.result!='A'}">{{result.result}}</span>
                            

                    </p>
                </div>
            </div>

        </div>
        <div class="betbtn" id="draggable"><a (click)="openBetbox()">Bets</a></div>
    </div>
    <div id="mybet" class="betnav">
        <a class="closebet" (click)="closebet()">×</a>
        <div class="matchBox">
            <div class="betSlipBox">
                <div class="betBox border-box" id="betBox" *ngIf="openBet">
                    <div class="block_box">
                        <div class="betslip">
                            <div class="loader"*ngIf="showLoader">
                                <div class="mini-loader">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <form [formGroup]="OpenBetForm" (ngSubmit)="BetSubmit()" method="POST" id="placeBetSilp" style="background-color: rgb(167, 216, 253);">
                                <div class="fancy-temaname" id="ShowRunnderName">{{f.runnerName.value}}</div>
                                <span class="close-betslip" (click)="closebetslip()"><svg version="1.1" id="Capa_1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                        xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M436.812,75.188C388.327,26.702,324.113,0,256,0S123.673,26.702,75.188,75.188C26.702,123.673,0,187.887,0,256
                                              s26.702,132.327,75.188,180.812C123.673,485.298,187.887,512,256,512s132.327-26.702,180.812-75.188
                                              C485.298,388.327,512,324.113,512,256S485.298,123.673,436.812,75.188z M256,482C131.383,482,30,380.617,30,256S131.383,30,256,30
                                              s226,101.383,226,226S380.617,482,256,482z"></path>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path d="M404.493,171.147l-63.64-63.639L256,192.36l-84.853-84.853l-63.64,63.64L192.36,256l-84.853,84.853l63.64,63.64
                                              L256,319.64l84.853,84.853l63.64-63.64L319.64,256L404.493,171.147z M362.066,340.853l-21.213,21.213L256,277.213l-84.853,84.853
                                              l-21.213-21.213L234.787,256l-84.853-84.853l21.213-21.213L256,234.787l84.853-84.853l21.213,21.213L277.213,256L362.066,340.853z
                                              "></path>
                                            </g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                    </svg></span>

                                <div class="odds-stake-fild">
                                    <div class="item-slip input-odds">
                                        <input type="number" id="ShowBetPrice" formControlName="odds" (keyup)="update()"
                                            class="calProfitLoss form-control CommanBtn">
                                        <div class="inc plus_btn">+</div>
                                        <div class="dec plus_btn">-</div>
                                    </div>

                                    <div class="item-slip input-stake">
                                        <input type="number" pattern="[0-9]*" step="1" id="stakeValue" formControlName="stake"
                                           (keyup)="update()" class="calProfitLoss form-control CommanBtn">
                                     
                                        <div class="inc plus_btn" (click)="incStake()">+</div>
                                        <div class="dec plus_btn" (click)="decStake()">-</div>
                                    </div>
                                </div>
                                <div class="betslip-footer">
                                    <div class="odds-btn-value">
                                        <div class="fancy-btngroup">
                                            <ng-container *ngFor="let stake of stakeSetting;let index=index;">
                                                <button class="btn btn-default  chipName1" type="button"
                                                  (click)="addStake(stake);">{{stakeSetting[index]}}</button>
                        
                                              </ng-container> 
                                            </div>
                                    </div>
                                    <div class="odds-btn-clear">
                                        <button class="btn btn-default" type="button" (click)="ClearStack( );"><i
                                                class="fas fa-backspace"></i></button>
                                    </div>
                                </div>
                                <div class="place-bet-div">
                                    <button class="btn btn-Cancel" type="button" (click)="ClearAllSelection();">Cancel</button>
                                    <button class="btn btn-placebet placebet" type="submit">Place Bet</button>
                                 
                                </div>
                                <div class="proft-loss-slip">
                                    <span>Profit or Liability</span>
                                    <span id="profitData" class="green">{{f.profit.value | number:'1.2-2'}}</span>
                                    <span id="LossData" class="red">{{f.loss.value | number:'1.2-2'}}</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="odds-tabs tab_bets">
                    <ul class="nav nav-tabs match-bets">
                        <li class="nav-item betdata active-all active">
                            <a class="allbet" href="javascript:void(0);" (click)="getDataByType('4');">All Bets
                                <span id="cnt_row">({{totalBets}})</span> </a>
                        </li>
=
                    </ul>
                </div>
            </div>
        </div>
        <div class="" id="MatchUnMatchBetaData">
            <style>
                .searchbtnn {
                    margin-right: 20px;
                }
            </style>


            <span id="msg_error"></span>
            <div class="scroll-table match_bets MachShowHide">
                <table class="table">
                    <thead class="head">
                        <tr class="headings">
                            <td>No.</td>
                            <td>Runner</td>
                            <td>Odds</td>
                            <td>Stake</td>
                            <td>Bet Type</td>
                            <td>P&L</td>
                            <td>Time</td>
                            <td>ID</td>
                            <td> IP</td>
                          </tr>
                    </thead>
                    <tbody>
                        <tr [ngClass]="{'back':bet.backLay=='BACK' || bet.backLay=='Back' ||bet.backLay=='YES','lay':bet.backLay=='LAY' || bet.backLay=='Lay' || bet.backLay=='NO'}"
                          *ngFor="let bet of eventBets;let index=index;trackBy:trackByBet">
                          <td>{{index+1}}</td>
                          <td>{{bet.runnerName}}</td>
                          <td>{{bet.odds}}</td>
                          <td>{{bet.stake | number:'1.2-2'}}</td>
                          <td>{{bet.backLay}}</td>
                          <td>{{bet.profit | number:'1.2-2'}}</td>
                          <td>{{bet.date}}</td>
                          <td>{{bet.id}}</td>
                          <td>{{bet.ipAddress}}</td>
                        </tr>
                      </tbody>
                </table>
            </div>
        </div>
    </div>

</div>