<footer class="login-footer hidden-xs">
    <section class="payments_icons">
      <div class="container">
  
        <div class="pymnts_imgs">
          <span><img src="assets/images/paytm.png"></span>
          <span><img src="assets/images/phonepay.png"></span>
          <span><img src="assets/images/gpay.png"></span>
          <span><img src="assets/images/upi.png"></span>
          <span><img src="assets/images/imps.png"></span>
          <span><img src="assets/images/Neteller.png"></span>
        </div>
      </div>
    </section>
    <section class="discripations">
      <div class="container">
        <!--<h2 class="main-tittle">Online Betting & Sports Betting Site in India</h2>-->
  
        <div class="pymnts_footer">
          <span><img src="assets/images/partner-01.png"></span>
          <span><img src="assets/images/partner-02.png"></span>
          <span><img src="assets/images/partner-03.png"></span>
          <span><img src="assets/images/partner-04.png"></span>
          <span><img src="assets/images/partner-05.png"></span>
          <span><img src="assets/images/partner-08.png"></span>
        </div>
      </div>
    </section>
  </footer>