<div class="sports_types">
    <div class="container container-login">
      <div class="login-tabs">
        <ul class="nav nav-tabs">
          <li>
            <a href="#exchangetab" data-toggle="tab" class="">
              exchange
            </a>
          </li>
          <li class="active">
            <a href="#casinotab" data-toggle="tab">
              casino
            </a>
          </li>
          <li>
            <a href="#sportsbooktab" data-toggle="tab" class="sportsbookclick">
              sportsbook
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane casino-blur" id="exchangetab">
            <div class="clearfix"></div>
            <img src="assets/images/blur-exchange.jpg">
            <div class="login_click-box">
              <p>Please <a href="" data-toggle="modal" data-target="#loginpopup">login</a> to Proceed!</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="tab-pane active login-casino" id="casinotab">
            <div class="row games-row">
              <div href="" class="game-item col-md-3 col-xs-6">
                <img src="assets/images/casino/hot-casino-games.jpg">
                <button class="before-login_btn" data-toggle="modal" data-target="#loginpopup">Login</button>
              </div>
              <div href="" class="game-item col-md-3 col-xs-6">
                <img src="assets/images/casino/evolution.jpg">
                <button class="before-login_btn" data-toggle="modal" data-target="#loginpopup">Login</button>
              </div>
              <div href="" class="game-item col-md-3 col-xs-6">
                <img src="assets/images/casino/live-games.jpg">
                <button class="before-login_btn" data-toggle="modal" data-target="#loginpopup">Login</button>
              </div>
              <div href="" class="game-item col-md-3 col-xs-6">
                <img src="assets/images/casino/ezugi.jpg">
                <button class="before-login_btn" data-toggle="modal" data-target="#loginpopup">Login</button>
              </div>
              <div href="" class="game-item col-md-3 col-xs-6">
                <img src="assets/images/casino/vip-casino.jpg">
                <button class="before-login_btn" data-toggle="modal" data-target="#loginpopup">Login</button>
              </div>
              <div href="" class="game-item col-md-3 col-xs-6">
                <img src="assets/images/casino/live-teen-patti.jpg">
                <button class="before-login_btn" data-toggle="modal" data-target="#loginpopup">Login</button>
              </div>
              <div href="" class="game-item col-md-3 col-xs-6">
                <img src="assets/images/casino/binary.jpg">
                <button class="before-login_btn" data-toggle="modal" data-target="#loginpopup">Login</button>
              </div>
              <div href="" class="game-item col-md-3 col-xs-6">
                <img src="assets/images/casino/slot-games.jpg">
                <button class="before-login_btn" data-toggle="modal" data-target="#loginpopup">Login</button>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="sportsbooktab">
          </div>
        </div>
      </div>
    </div>
  </div>