<div id="reviewpopup" class="modal fade" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog review-popop">
        <div class="modal-content">
            <div class="modal-header title_popup">
                <span>Post Review</span>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <section class="sec-rating">
                    <div class="div-error"></div>
                    <div class="div-success"></div>
                    <textarea class="form-control" rows="6" placeholder="Write your review here ..." id="review"
                        spellcheck="false"></textarea>
                    <div class="rating">
                        <input type="radio" id="star5" name="rating" value="5" checked=""><label class="star"
                            for="star5" title="5 Star"></label>
                        <input type="radio" id="star4" name="rating" value="4"><label class="star" for="star4"
                            title="Great"></label>
                        <input type="radio" id="star3" name="rating" value="3"><label class="star" for="star3"
                            title="Very good"></label>
                        <input type="radio" id="star2" name="rating" value="2"><label class="star" for="star2"
                            title="Good"></label>
                        <input type="radio" id="star1" name="rating" value="1"><label class="star" for="star1"
                            title="Bad"></label>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="clearfix"></div>
                    <button id="postReview" class="btn btn-default" style="width:100%;">Post Review</button>
                    <div class="icon-header"><img src="assets/images/review-icon.png"> </div>
                </section>


            </div>
        </div>
    </div>
</div>