<div class="tabbable">
    <div class="sport-tab-main">
        <div class="report-header">
            Payment History

        </div>

        <ul class="nav nav-tabs tabthe3" id="PaymentHistor">
            <li class="active"><a href="#Deposit" data-toggle="tab" dat-attr="1">Deposit </a></li>
            <li class=""><a href="#withdrawal" data-toggle="tab" dat-attr="2">Withdrawal</a></li>
        </ul>
        <div class="tab-content hegifix  appendAjaxTbl">
            <style>

            </style>


            <div class="tab-pane fade active in" id="Deposit">
                <div class="scroll-table">
                    <div class="payment-type-row">


                        <div class="pament-type-items" id="row-106361">
                            <div class="payment_detail">
                                <div class="payment_detail_sr">
                                    1 </div>
                                <div class="payment_detail_left">
                                    <div class="pay_type-icon">
                                        <img src="assets/images/imps.png" alt="IMPS">
                                    </div>
                                </div>
                                <div class="payment_detail_center">
                                    <ul>
                                        <li>



                                            <span class="bank_detail_payment" data-toggle="modal" data-target="#BankDetail"
                                                onclick="ShowBankDetailPopup('imps.png','IMPS','917873147210','bipra swami ','PYTM0123456','26 Jul 2020 08:46:09 ','1');">View Detail</span>
                                            <span class="info_icon_payment">

                                                <svg class="question" data-toggle="tooltip" version="1.1" width="15"
                                                    height="15" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                                    xml:space="preserve" data-original-title="">
                                                    <g>
                                                        <g>
                                                            <path d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M256,469.333
                                        c-117.632,0-213.333-95.701-213.333-213.333S138.368,42.667,256,42.667S469.333,138.368,469.333,256S373.632,469.333,256,469.333z
                                        "></path>
                                                        </g>
                                                    </g>
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <path d="M250.667,344.96c-13.931,0.235-25.152,11.456-25.387,25.387c-0.021,0.427-0.021,0.875,0,1.301
                                           c0.491,14.016,12.224,24.981,26.24,24.512h-0.853c14.08-0.235,25.387-11.712,25.387-25.813
                                           C275.712,356.459,264.555,345.301,250.667,344.96z"></path>
                                                                <path d="M255.573,116.693c-30.08-0.896-59.136,10.965-80,32.64c-2.411,3.029-3.691,6.805-3.627,10.667
                                           c0.107,9.451,7.616,17.152,17.067,17.493c4.395,0.021,8.64-1.579,11.947-4.48c13.227-13.717,31.509-21.419,50.56-21.333
                                           c28.8,0,42.667,15.573,42.667,33.92c0,39.253-69.76,44.16-69.76,95.147c0,12.373,7.68,35.2,23.68,35.2c0.128,0,0.277,0,0.427,0
                                           c8.597,0,15.573-6.976,15.573-15.573c0-5.76-4.053-10.667-4.053-16.427c0-38.4,75.093-43.733,76.8-103.253
                                           C336.853,144.427,306.133,116.693,255.573,116.693z"></path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                </svg>
                                            </span>
                                        </li>
                                        <li>

                                            <span class="status_value badge-success green">Approved</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="payment_detail_right">
                                    <div class="payment_value"><span class="payment_amount"> 3005.00</span> <span
                                            class="payment_time">

                                        </span></div>
                                </div>
                            </div>
                        </div>


                        <div class="pament-type-items" id="row-106165">
                            <div class="payment_detail">
                                <div class="payment_detail_sr">
                                    2 </div>
                                <div class="payment_detail_left">
                                    <div class="pay_type-icon">
                                        <img src="assets/images/paytm.png" alt="IMPS">
                                    </div>
                                </div>
                                <div class="payment_detail_center">
                                    <ul>
                                        <li>



                                            <span class="bank_detail_payment" data-toggle="modal" data-target="#BankDetail"
                                                onclick="ShowBankDetailPopup('imps.png','IMPS','917377632662','Golani ','PYTM0123456','25 Jul 2020 19:52:12 ','1');">View
                                                Detail</span>
                                            <span class="info_icon_payment">

                                                <svg class="question" data-toggle="tooltip" version="1.1" width="15"
                                                    height="15" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                                    xml:space="preserve" data-original-title="">
                                                    <g>
                                                        <g>
                                                            <path d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M256,469.333
                                        c-117.632,0-213.333-95.701-213.333-213.333S138.368,42.667,256,42.667S469.333,138.368,469.333,256S373.632,469.333,256,469.333z
                                        "></path>
                                                        </g>
                                                    </g>
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <path d="M250.667,344.96c-13.931,0.235-25.152,11.456-25.387,25.387c-0.021,0.427-0.021,0.875,0,1.301
                                           c0.491,14.016,12.224,24.981,26.24,24.512h-0.853c14.08-0.235,25.387-11.712,25.387-25.813
                                           C275.712,356.459,264.555,345.301,250.667,344.96z"></path>
                                                                <path d="M255.573,116.693c-30.08-0.896-59.136,10.965-80,32.64c-2.411,3.029-3.691,6.805-3.627,10.667
                                           c0.107,9.451,7.616,17.152,17.067,17.493c4.395,0.021,8.64-1.579,11.947-4.48c13.227-13.717,31.509-21.419,50.56-21.333
                                           c28.8,0,42.667,15.573,42.667,33.92c0,39.253-69.76,44.16-69.76,95.147c0,12.373,7.68,35.2,23.68,35.2c0.128,0,0.277,0,0.427,0
                                           c8.597,0,15.573-6.976,15.573-15.573c0-5.76-4.053-10.667-4.053-16.427c0-38.4,75.093-43.733,76.8-103.253
                                           C336.853,144.427,306.133,116.693,255.573,116.693z"></path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                </svg>
                                            </span>
                                        </li>
                                        <li>

                                            <span class="status_value badge-success green">Approved</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="payment_detail_right">
                                    <div class="payment_value"><span class="payment_amount"> 3050.00</span> <span
                                            class="payment_time">

                                        </span></div>
                                </div>
                            </div>
                        </div>


                        <div class="pament-type-items" id="row-105651">
                            <div class="payment_detail">
                                <div class="payment_detail_sr">
                                    3 </div>
                                <div class="payment_detail_left">
                                    <div class="pay_type-icon">
                                        <img src="assets/images/gpay.png" alt="IMPS">
                                    </div>
                                </div>
                                <div class="payment_detail_center">
                                    <ul>
                                        <li>



                                            <span class="bank_detail_payment" data-toggle="modal" data-target="#BankDetail"
                                                onclick="ShowBankDetailPopup('imps.png','IMPS','917873147246','Sitama','PYTM0123456','24 Jul 2020 20:52:20 ','1');">View
                                                Detail</span>
                                            <span class="info_icon_payment">

                                                <svg class="question" data-toggle="tooltip" version="1.1" width="15"
                                                    height="15" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                                    xml:space="preserve" data-original-title="">
                                                    <g>
                                                        <g>
                                                            <path d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M256,469.333
                                        c-117.632,0-213.333-95.701-213.333-213.333S138.368,42.667,256,42.667S469.333,138.368,469.333,256S373.632,469.333,256,469.333z
                                        "></path>
                                                        </g>
                                                    </g>
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <path d="M250.667,344.96c-13.931,0.235-25.152,11.456-25.387,25.387c-0.021,0.427-0.021,0.875,0,1.301
                                           c0.491,14.016,12.224,24.981,26.24,24.512h-0.853c14.08-0.235,25.387-11.712,25.387-25.813
                                           C275.712,356.459,264.555,345.301,250.667,344.96z"></path>
                                                                <path d="M255.573,116.693c-30.08-0.896-59.136,10.965-80,32.64c-2.411,3.029-3.691,6.805-3.627,10.667
                                           c0.107,9.451,7.616,17.152,17.067,17.493c4.395,0.021,8.64-1.579,11.947-4.48c13.227-13.717,31.509-21.419,50.56-21.333
                                           c28.8,0,42.667,15.573,42.667,33.92c0,39.253-69.76,44.16-69.76,95.147c0,12.373,7.68,35.2,23.68,35.2c0.128,0,0.277,0,0.427,0
                                           c8.597,0,15.573-6.976,15.573-15.573c0-5.76-4.053-10.667-4.053-16.427c0-38.4,75.093-43.733,76.8-103.253
                                           C336.853,144.427,306.133,116.693,255.573,116.693z"></path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                </svg>
                                            </span>
                                        </li>
                                        <li>

                                            <span class="status_value badge-success green">Approved</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="payment_detail_right">
                                    <div class="payment_value"><span class="payment_amount"> 3000.00</span> <span
                                            class="payment_time">

                                        </span></div>
                                </div>
                            </div>
                        </div>



                        <p class="pull-left">Showing 1 to 10 of 16 entries</p>
                        <p id="paginateClick"
                            class="pull-right pagination-row dataTables_paginate paging_simple_numbers">
                            <strong>1</strong><a class="paginate_button " href="https://livebid.in/paymentRequest/10"
                                data-ci-pagination-page="10" rel="start">2</a><a class="paginate_button previous"
                                href="https://livebid.in/paymentRequest/10" data-ci-pagination-page="10"
                                rel="next">&gt;</a>
                        </p>

                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="withdrawal">
                <div class="scroll-table">
                    <div class="payment-type-row">

                        <div class="pament-type-items" id="row-62797">

                            <div class="payment_detail">
                                <div class="payment_detail_sr">
                                    1 </div>
                                <div class="payment_detail_left">
                                    <div class="pay_type-icon">
                                        <img src="assets/images/imps.png" alt="IMPS">
                                    </div>
                                </div>
                                <div class="payment_detail_center">
                                    <ul>
                                        <li>
                                            <span class="bank_detail_payment" data-toggle="modal" data-target="#BankDetail"
                                                onclick="ShowBankDetailPopup('imps.png','IMPS','0114215310','R Amaresh ','Kkbk0008771 ','25 Jul 2020 23:05:50 ','1');">View
                                                Detail</span>
                                            <span class="info_icon_payment">
                                                <svg class="question" data-toggle="tooltip" version="1.1" width="15"
                                                    height="15" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                                    xml:space="preserve" data-original-title=" ">
                                                    <g>
                                                        <g>
                                                            <path d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M256,469.333
                                                    c-117.632,0-213.333-95.701-213.333-213.333S138.368,42.667,256,42.667S469.333,138.368,469.333,256S373.632,469.333,256,469.333z
                                                    "></path>
                                                        </g>
                                                    </g>
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <path d="M250.667,344.96c-13.931,0.235-25.152,11.456-25.387,25.387c-0.021,0.427-0.021,0.875,0,1.301
                                                       c0.491,14.016,12.224,24.981,26.24,24.512h-0.853c14.08-0.235,25.387-11.712,25.387-25.813
                                                       C275.712,356.459,264.555,345.301,250.667,344.96z"></path>
                                                                <path d="M255.573,116.693c-30.08-0.896-59.136,10.965-80,32.64c-2.411,3.029-3.691,6.805-3.627,10.667
                                                       c0.107,9.451,7.616,17.152,17.067,17.493c4.395,0.021,8.64-1.579,11.947-4.48c13.227-13.717,31.509-21.419,50.56-21.333
                                                       c28.8,0,42.667,15.573,42.667,33.92c0,39.253-69.76,44.16-69.76,95.147c0,12.373,7.68,35.2,23.68,35.2c0.128,0,0.277,0,0.427,0
                                                       c8.597,0,15.573-6.976,15.573-15.573c0-5.76-4.053-10.667-4.053-16.427c0-38.4,75.093-43.733,76.8-103.253
                                                       C336.853,144.427,306.133,116.693,255.573,116.693z"></path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                    <g></g>
                                                </svg>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="status_value badge-success green">Approved </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="payment_detail_right">
                                    <div class="payment_value"><span class="payment_amount"> 5000</span> <span
                                            class="payment_time"> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="pull-left">Showing 1 to 1 of entries</p>
                        <p id="paginateClick"
                            class="pull-right pagination-row dataTables_paginate paging_simple_numbers"></p>
                    </div>
                </div>
            </div>
            <script>
                $(document).on("#withdrwalRejectedRequest").change(function () {
                    alert("1")
                    if (this.checked) {
                        $('#withdrwal_rejected').val(1);
                        $("#submit_form_button").click();
                    }
                });


            </script>
        </div>
    </div>
</div>

<div id="BankDetail" class="modal fade paymentpopup" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content appendDetails">
            <div class="modal-header"><button type="button" class="close" data-dismiss="modal"><img
                        src="assets/images/back-arrow.svg" alt="Back Arrow"></button>
                <div class="payment-logo"><img src="assets/images/imps.png"></div>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td> Number</td>
                                <td> 917873147210</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>bipra swami </td>
                            </tr>
                            <tr>
                                <td>Ifsc</td>
                                <td>PYTM0123456</td>
                            </tr>
                            <tr>
                                <td>Approved Date</td>
                                <td>26 Jul 2020 08:46:09 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>